html {
    font-size: 16px;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

a {
    color: lightskyblue;
}

a:hover {
    color: deepskyblue;
}

a:visited {
    color: auto;
}

a:active {
    color: lightpink;
}

body {
    color: whitesmoke;
    background-color: #111111;
}

form, input, textarea, label {
    color: black;
}

.form-control.post-textarea {
    height: 200px;
}

.brand-logo {
    width: 75px;
    height: auto; 
    border-radius: 50%;
}

.footer-links-container {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-link-container {
    margin: 0.25px 1rem 0.75rem;
}

.copyright-p {
    text-align: center;
}