<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %} 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}?v=1.1.3">
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar bg-dark navbar-dark navbar-expand-sm">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="{% static 'base/img/django.png' %}" 
                     alt="Logo" 
                     width="30" 
                     height="24" 
                     class="d-inline-block brand-logo">
                Django Blog
              </a>
              <button class="navbar-toggler" 
                      type="button" 
                      data-bs-toggle="collapse" 
                      data-bs-target="#navbarNav" 
                      aria-controls="navbarNav" 
                      aria-expanded="false" 
                      aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_post' %}">New Post</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}        
    </main>
    <footer>
        <p class="copyright-p">Copyright &copy; 2023 Zsolt Nagy</p>
        <nav>
            <ul class="footer-links-container">
                <li class="footer-link-container"><a href="{% url 'index' %}">Home</a></li>
                <li class="footer-link-container"><a href="{% url 'new_post' %}">New Post</a></li>
                <li class="footer-link-container"><a href="#">Cookie policy</a></li>
            </ul>
        </nav>        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>